.solutionContainer {
    padding: 20px;

    .taskHeader {
        display: flex;
        padding: 10px;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        font-size: 20px;
    }
}