.productsHeader {
    display: flex;
    padding: 10px;
}

.productCard {
    padding: 20px;
    margin: 20px;
    display: flex;
    max-width: 90%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px black;


    .image {
        margin: 20px;
        height: 200px;
        min-width: 200px;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 20px;
            font-weight: bold;
        }

        .category {
            font-weight: bold;
        }

        .description {
            margin: 10px 0;
        }

        .price {
            font-weight: bold;
        }
    }
}